<!doctype html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/output.css" rel="stylesheet">
    </head>

    <body class="p-4">

        <h1 class="text-3xl font-bold underline">
            Muchachos les dejo una muestra basica de como funcionan las grid en tailwind,
            a diferencia de bootstrap que siempre parte en 12 la pantalla aca podemos 
            hacer divisiones como querramos.
        </h1>

        <!-- y -->        <!-- para hacer comentarios en html -->

        <div class="grid grid-cols-4 gap-4"><!-- cols-4 parte en 4 columnas toda la pantalla gap-# hace una separación entre cada casilla-->

            <div class="casilla col-span-2">1</div> <!-- col-span-2 hace que esta columna ocupe 2 puestos de los 4 disponibles -->
            <div class="casilla">2</div>
            <div class="casilla">3</div>
            <div class="casilla row-span-4">4</div><!-- row-span-# toma # filas, si algo le estorba lo empuja hacia la derecha -->
            <div class="casilla col-span-2">5</div>
            <div class="casilla">6</div>
            <div class="casilla col-start-2 col-end-4">7</div> <!-- col-start-# dice donde inicia un div y col-end-# donde termina -->
            <div class="casilla col-[2/5]">8</div><!-- aca decimos que inicie en la linea de columna 2 y termine en la ultima que es linea de columna 5 -->
            <div class="casilla">9</div>
            <div class="casilla">10</div>
        </div><br>

        <div class="grid grid-cols-2 gap-4 h-[100vh]"><!-- h-[100vh] es la altura que ocupa cada div -->
            <div class="casilla col-span-2">hearder</div>
            <div class="casilla col-span-2">nav</div>
            <div class="casilla-propiedad">section</div>
            <div class="casilla-puesto">
            </div casilla>
            </div>
            <div class="casilla row-[3/5] col-start-2">aside</div>
            <div class="casilla col-span-2">footer</div>
        </div><br>



    </body>

</html>