<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/output.css" rel="stylesheet">
    </head>

    <body class="p-4">

        <div class="grid grid-cols-48 grid gap-2">

            <div class="casilla">*</div>
            <div class="casilla col-span-46">0</div>
            <div class="casilla">*</div>
            <div class="casilla row-span-46">0</div>

            <div class="casilla">. </div>
            <div class="casilla col-span-4 row-span-5">esqu 1</div>
            <div class="casilla col-span-4">_</div>
            <div class="casilla col-span-4">_</div>
            <div class="casilla col-span-4">_</div>
            <div class="casilla col-span-4">_</div>
            <div class="casilla col-span-4">_</div>
            <div class="casilla col-span-4">_</div>
            <div class="casilla col-span-4">_</div>
            <div class="casilla col-span-4">_</div>
            <div class="casilla col-span-4">_</div>

            <div class="casilla col-span-5 row-span-5">esq 11</div>
            <div class="casilla row-span-46">0</div>


            <div class="casilla col-span-4 row-span-3">2</div>
            <div class="casilla col-span-4 row-span-3">3</div>
            <div class="casilla col-span-4 row-span-3">4</div>
            <div class="casilla col-span-4 row-span-3">5</div>
            <div class="casilla col-span-4 row-span-3">6</div>
            <div class="casilla col-span-4 row-span-3">7</div>
            <div class="casilla col-span-4 row-span-3">8</div>
            <div class="casilla col-span-4 row-span-3">9</div>
            <div class="casilla col-span-4 row-span-3">10</div>

            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>

            <div class="casilla"> .</div>
            <div class="casilla"> .</div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>

            <div class="casilla row-span-4">|</div>
            <div class="casilla col-span-3 row-span-4">40</div>
            <div class="casilla">. </div>

            <!-- relleno del centro -->
            <div class="casilla col-span-36 row-span-36"></div>

            <div class="casilla">. </div>
            <div class="casilla col-span-3 row-span-4">12</div>
            <div class="casilla row-span-4">|</div>

            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>

            <!--   -->

            <div class="casilla row-span-4">|</div>
            <div class="casilla col-span-3 row-span-4">39</div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla col-span-3 row-span-4">13</div>
            <div class="casilla row-span-4">|</div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>

            <!--   -->

            <div class="casilla row-span-4">|</div>
            <div class="casilla col-span-3 row-span-4">38</div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla col-span-3 row-span-4">14</div>
            <div class="casilla row-span-4">|</div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>

            <!--   -->

            <div class="casilla row-span-4">|</div>
            <div class="casilla col-span-3 row-span-4">37</div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla col-span-3 row-span-4">15</div>
            <div class="casilla row-span-4">|</div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>

            <!--   -->

            <div class="casilla row-span-4">|</div>
            <div class="casilla col-span-3 row-span-4">36</div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla col-span-3 row-span-4">16</div>
            <div class="casilla row-span-4">|</div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>

            <!--   -->

            <div class="casilla row-span-4">|</div>
            <div class="casilla col-span-3 row-span-4">35</div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla col-span-3 row-span-4">17</div>
            <div class="casilla row-span-4">|</div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>

            <!--   -->

            <div class="casilla row-span-4">|</div>
            <div class="casilla col-span-3 row-span-4">34</div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla col-span-3 row-span-4">18</div>
            <div class="casilla row-span-4">|</div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>

            <!--   -->

            <div class="casilla row-span-4">|</div>
            <div class="casilla col-span-3 row-span-4">33</div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla col-span-3 row-span-4">19</div>
            <div class="casilla row-span-4">|</div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>

            <!--   -->

            <div class="casilla row-span-4">|</div>
            <div class="casilla col-span-3 row-span-4">32</div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla col-span-3 row-span-4">20</div>
            <div class="casilla row-span-4">|</div>
            <div class="casilla">. </div>

            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>

            <!--esquinas de abajo-->

            <div class="casilla">. </div>
            <div class="casilla col-span-4 row-span-5">esqu 31</div>

            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>

                        <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>
            <div class="casilla">. </div>

            <div class="casilla col-span-4">_</div>
            <div class="casilla col-span-4">_</div>
            <div class="casilla col-span-4">_</div>
            <div class="casilla col-span-4">_</div>
            <div class="casilla col-span-4">_</div>
            <div class="casilla col-span-4">_</div>
            <div class="casilla col-span-4">_</div>
            <div class="casilla col-span-4">_</div>
            <div class="casilla col-span-4">_</div>

            <div class="casilla col-span-5 row-span-5">esq 11</div>
            <div class="casilla">. </div>

            



        </div>
        
    </body>

</html>