<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/output.css" rel="stylesheet">
    </head>

    <body class="p-4">

        <div class="fondo p-8">

            <div class="mt-8 mb-8 tablero grid grid-cols-44"> 

                <div class="casilla col-span-4 row-span-4">1
                </div>
                <div class="casilla col-span-4 row-span-4">2</div>
                <div class="casilla col-span-4 row-span-4">3</div>
                <div class="casilla col-span-4 row-span-4">4</div>
                <div class="casilla col-span-4 row-span-4">5</div>
                <div class="casilla col-span-4 row-span-4">6</div>
                <div class="casilla col-span-4 row-span-4">7</div>
                <div class="casilla col-span-4 row-span-4">8</div>
                <div class="casilla col-span-4 row-span-4">9</div>
                <div class="casilla col-span-4 row-span-4">10</div>
                <div class="casilla col-span-4 row-span-4">11</div>
                <div class="casilla col-span-4 row-span-4">40</div>
                <div class="centro col-span-36 row-span-36">Monopoly</div>
                <div class="casilla col-span-4 row-span-4">12</div>
                <div class="casilla col-span-4 row-span-4">39</div>
                <div class="casilla col-span-4 row-span-4">13</div>
                <div class="casilla col-span-4 row-span-4">38</div>
                <div class="casilla col-span-4 row-span-4">14</div>
                <div class="casilla col-span-4 row-span-4">37</div>
                <div class="casilla col-span-4 row-span-4">15</div>
                <div class="casilla col-span-4 row-span-4">36</div>
                <div class="casilla col-span-4 row-span-4">16</div>
                <div class="casilla col-span-4 row-span-4">35</div>
                <div class="casilla col-span-4 row-span-4">17</div>
                <div class="casilla col-span-4 row-span-4">34</div>
                <div class="casilla col-span-4 row-span-4">18</div>
                <div class="casilla col-span-4 row-span-4">33</div>
                <div class="casilla col-span-4 row-span-4">19</div>
                <div class="casilla col-span-4 row-span-4">32</div>
                <div class="casilla col-span-4 row-span-4">20</div>
                <div class="casilla col-span-4 row-span-4">31</div>
                <div class="casilla col-span-4 row-span-4">30</div>
                <div class="casilla col-span-4 row-span-4">29</div>
                <div class="casilla col-span-4 row-span-4">28</div>
                <div class="casilla col-span-4 row-span-4">27</div>
                <div class="casilla col-span-4 row-span-4">26</div>
                <div class="casilla col-span-4 row-span-4">25</div>
                <div class="casilla col-span-4 row-span-4">24</div>
                <div class="casilla col-span-4 row-span-4">23</div>
                <div class="casilla col-span-4 row-span-4">22</div>
                <div class="casilla col-span-4 row-span-4">21</div>
            </div>

            <div class="mx-auto w-1/2 bg-blue-500 text-white p-4">
                Div centrado horizontalmente
            </div>

        </div>
        
    </body>

</html>